@import './_Variables.scss';

.after {
  position: relative;
}

.after::after {
  content: '';
  width: 4rem;
  background-color: $secondary-background;
  height: 0.28rem;
  z-index: 99;
  top: calc(54% + 10px);
  left: calc(50% + -32px);
  position: absolute;
  border-radius: 50px;
  margin: 0.8rem 0;
}
